<a href="https://colab.research.google.com/github/NeoASJ/ML-Supervised-learning-/blob/main/LogisticRegression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Titanic dataset Survival Prediction**

In [17]:
import pandas as pd
# different train and test used here
train_df= pd.read_csv("/content/train.csv")
test_df = pd.read_csv("/content/test.csv")

In [18]:
# reality check to comapre predicted with actual outcome
# consists of pasenger id and survival
pasengerid = pd.read_csv("/content/gender_submission.csv")

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

**Data Processing**

In [20]:

train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

**Feature Engineering**

In [22]:

cols_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']
train_df = train_df.drop(cols_to_drop, axis=1)
test_df = test_df.drop(cols_to_drop, axis=1)

In [23]:
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())
train_df['Embarked']= train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])

In [24]:
train_df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [25]:
test_df.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [26]:
test_df['Age'] = test_df['Age'].fillna(train_df['Age'].median())
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].median())

In [27]:
test_df.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [28]:
test_df.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [29]:
for df in [train_df, test_df]:
    df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

train_df = pd.get_dummies(train_df, columns=['Embarked'], drop_first=True)
test_df = pd.get_dummies(test_df, columns=['Embarked'], drop_first=True)
#converts the "Embarked" column into separate 0 or 1  columns so the computer can use the boarding port info in the model

In [30]:
X_train = train_df.drop('Survived', axis=1)
y_train = train_df['Survived']
X_test = test_df

In [32]:
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)
print('LogisticRegression MODEL FITTED')

LogisticRegression MODEL FITTED

In [33]:
y_pred = model.predict(X_test)

In [34]:
# accuarcy
accuracy = accuracy_score(pasengerid['Survived'], y_pred)
print(f"Accuracy: {accuracy*100:.2f} % ")
print(classification_report(pasengerid['Survived'], y_pred))

Accuracy: 94.02 %
              precision    recall  f1-score   support

           0       0.96      0.95      0.95       266
           1       0.91      0.93      0.92       152

    accuracy                           0.94       418
   macro avg       0.93      0.94      0.94       418
weighted avg       0.94      0.94      0.94       418

In [35]:
# to create a dataframe to check the predictions with actual
output = pd.DataFrame({'PassengerId': pasengerid['PassengerId'], 'Survived': y_pred})
output.to_csv('submission.csv', index=False)

In [36]:
report  = pasengerid

In [37]:
report['model predict'] = y_pred

In [38]:
report.head(25)

    PassengerId  Survived  model predict
0           892         0              0
1           893         1              0
2           894         0              0
3           895         0              0
4           896         1              1
5           897         0              0
6           898         1              1
7           899         0              0
8           900         1              1
9           901         0              0
10          902         0              0
11          903         0              0
12          904         1              1
13          905         0              0
14          906         1              1
15          907         1              1
16          908         0              0
17          909         0              0
18          910         1              1
19          911         1              1
20          912         0              0
21          913         0              0
22          914         1              1
23          915         0              1
24          916         1              1